extends templates/layout.pug

block content
  .marginTop
  .headerCart
    h2 carrito De CoMpRaS
  include templates/nav-cart.pug
  include templates/products-list.pug

  h2.title PRODUCTOS RELACIONADOS
  include templates/products.pug
