extends templates/layout.pug

block content
  .marginTop
  .headerCart
    h2 carrito De CoMpRaS
  include templates/nav-cart.pug
  .data-form-container
    include templates/data-form.pug
    include templates/login.pug
