extends templates/layout.pug

block content
  div.details
    include templates/gallery.pug
    include templates/product-details.pug
  div.details__history
    include templates/accordion.pug
    .details__logos
      img(src="img/logos-pago.png", alt="Logos de Pago")

  h2.title Recomendaciones
  include templates/products.pug
