extends templates/layout.pug

block content
  .marginTop
  include templates/slider-simple.pug
  include templates/categories.pug
  include templates/categories.pug
  include templates/pop-up-store.pug
    script(src="js/bundle.min.js")