extends templates/layout.pug

block content
  .wrapper
    h2 titulo de ejemplo
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore porro sed, minima deserunt asperiores hic consequatur exercitationem dolores voluptates eius modi magni numquam alias provident expedita! Accusamus qui voluptate suscipit.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem alias maiores autem eveniet blanditiis amet id, dolores atque debitis ducimus et eaque adipisci voluptate corporis expedita ullam sed numquam nostrum!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore porro sed, minima deserunt asperiores hic consequatur exercitationem dolores voluptates eius modi magni numquam alias provident expedita! Accusamus qui voluptate suscipit.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem alias maiores autem eveniet blanditiis amet id, dolores atque debitis ducimus et eaque adipisci voluptate corporis expedita ullam sed numquam nostrum!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore porro sed, minima deserunt asperiores hic consequatur exercitationem dolores voluptates eius modi magni numquam alias provident expedita! Accusamus qui voluptate suscipit.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem alias maiores autem eveniet blanditiis amet id, dolores atque debitis ducimus et eaque adipisci voluptate corporis expedita ullam sed numquam nostrum!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore porro sed, minima deserunt asperiores hic consequatur exercitationem dolores voluptates eius modi magni numquam alias provident expedita! Accusamus qui voluptate suscipit.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem alias maiores autem eveniet blanditiis amet id, dolores atque debitis ducimus et eaque adipisci voluptate corporis expedita ullam sed numquam nostrum!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore porro sed, minima deserunt asperiores hic consequatur exercitationem dolores voluptates eius modi magni numquam alias provident expedita! Accusamus qui voluptate suscipit.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem alias maiores autem eveniet blanditiis amet id, dolores atque debitis ducimus et eaque adipisci voluptate corporis expedita ullam sed numquam nostrum!