extends templates/layout.pug

block content
  .marginTop
  include templates/category-header.pug
  include templates/slider-simple.pug
  include templates/products.pug
  include templates/products.pug
  include templates/products.pug
  include templates/products.pug
