$color-red: #D52B1E;
$color-green: #7ab800;
$color-blue: #0079c1;
$color-brown: #6e3219;
$color-purple: #7d0063;
$color-gray: #939598;
$color-gray-light: #EBEBEB;
$color-gray-dark: darken($color-gray, 40%);
