.accordion__conatiner
  .accordion__buttons
    <button class="accordion active" data-accordion="1">Historia</button>
    <button class="accordion" data-accordion="2">Ficha técnica</button>
  .accordion__text
    <div class="panel panel--show" id="panel-1">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam maiores a delectus minima eligendi obcaecati reprehenderit deleniti dolorum dolor consequuntur. Vitae corporis deleniti iste repellendus sint fugiat vero pariatur commodi!</p>
    </div>

    <div class="panel" id="panel-2">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam maiores a delectus minima eligendi obcasdasaecati reprehenderit deleniti dolorum dolor consequuntur. Vitae corporis deleniti iste repellendus sint fugiat vero pariatur commodi!</p>
    </div>
