<button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam maiores a delectus minima eligendi obcaecati reprehenderit deleniti dolorum dolor consequuntur. Vitae corporis deleniti iste repellendus sint fugiat vero pariatur commodi!</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam maiores a delectus minima eligendi obcaecati reprehenderit deleniti dolorum dolor consequuntur. Vitae corporis deleniti iste repellendus sint fugiat vero pariatur commodi!</p>
</div>
