section.categories
  .category
    .category__image(style="background-image: url(https://static.pexels.com/photos/54581/escalator-stairs-metal-segments-architecture-54581.jpeg)")
    .category__text.category--green
      h2 Comercio exterior

  .category
    .category__image(style="background-image: url(https://www.peru.travel/Portals/_default/Images/Slider/Common/sli017657.jpg)")
    .category__text.category--blue
      h2 Turismo

  .category
    .category__image(style="background-image: url(https://www.peru.travel/Portals/_default/images/slider/common/cocina-peruana.jpg)")
    .category__text.category--brown
      h2 gastronomía

  .category
    .category__image(style="background-image: url(https://skitterphoto.com/photos/skitterphoto-926-default.jpg)")
    .category__text.category--purple
      h2 negocios

