.commentary
  .commentary__stars
    i(class="fa fa-star" aria-hidden="true")
    i(class="fa fa-star" aria-hidden="true")
    i(class="fa fa-star" aria-hidden="true")
    i(class="fa fa-star" aria-hidden="true")
    i(class="fa fa-star-o" aria-hidden="true")
  .commentary__user
    p Jose Antonio
  .commentary__text
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam obcaecati nobis fugit doloribus maxime voluptatem consectetur impedit ut doloremque rem exercitationem sed quisquam, deleniti, distinctio nesciunt repellat quis vel voluptate!
