.data-form
  h2 Tus Datos
  form.form
    div.input__group
      label Nombre
      input(type="text", name="")
    div.form__group
      div.input__group
        label E-mail
        input(type="email", name="")
      div.input__group
        label Verificación de E-mail
        input(type="email", name="")
    div.form__group
      div.input__group
        label Contraseña
        input(type="password", name="")
      div.input__group
        label Verificación de contraseña
        input(type="password", name="")
    div.input__group
      label Teléfono de Contacto
      input(type="text", name="")
    div.input__group
      label Dirección
      hr
    div.form__group
      div.input__group
        label Calle
        input(type="text", name="")
      div.input__group
        label Número
        input(type="text", name="")
    div.form__group
      div.input__group
        label Código Postal
        input(type="text", name="")
      div.input__group
        label Ciudad
        input(type="text", name="")
      div.input__group
        label Pais
        input(type="text", name="")

  .data-form-buttons
    button.btn--red Atras
    button.btn--green Siguiente
