footer.footer
  .footer__section
    span.title Contacto
    a.btn--green(href="#") Contáctanos
    p llama al 0000000
    p Mail de contacto: <strong>mail@peru.com.pe</strong>
    p Dirección: <strong>carrere 43 # 123 - 12</strong>
  .footer__section
    span.title Terminos y condiciones
    a(href="#") Términos Legales
    a(href="#") Condiciones de compra
    a(href="#") Condiciones de compra
    a(href="#") Condiciones de compra
    a(href="#") Preguntas frecuentes
  .footer__section
    span.title Acceso rápido
    a(href="#") Términos Legales
    a(href="#") Condiciones de compra
  .footer__section
    span.title Marcas
    img(src="../img/logos-pago.png", alt="Logos de Pago")
  .footer__author
    img(src="../img/logo-ministerio-comercio.png" alt="Ministerio de Comercio Exterior y Turismo")
    img(src="../img/logo-prom-peru.png" alt="Prom perú")
    img(src="../img/logo-peru-blanco.png" alt="logo peru")
