.contact-us
  h2 Déjanos tu consulta
  form.form
    div.input__group
      label Nombre
      input(type="text", name="")
    div.input__group
      label E-mail
      input(type="email", name="")
    div.input__group
      label Teléfono de Contacto
      input(type="text", name="")
    div.input__group
      label ¿Qué te gustaría saber?
      textarea(name="", cols="30", rows="8")
  .data-form-buttons
    button.btn--green Enviar
