.gallery
  .gallery__primary
    img(alt="" src="https://www.peru.travel/Portals/_default/Gastronomia/productos-peruanos/3.jpg" id="galleryPrimary")
  .gallery__list
    div: img(class="gallery__list__item" alt="" src="https://www.peru.travel/Portals/_default/Gastronomia/mucho-gusto/landing/2.jpg")
    div: img(class="gallery__list__item" alt="" src="https://www.peru.travel/Portals/_default/Gastronomia/productos-peruanos/3.jpg")
