.gallery
  .gallery__primary
    div(style="background-image: url(../img/producto/producto1.jpg)" id="galleryPrimary")
  .gallery__list
    div: img(class="gallery__list__item" alt="" src="../img/producto/producto1.jpg")
    div: img(class="gallery__list__item" alt="" src="../img/producto/producto2.jpg")
    div: img(class="gallery__list__item" alt="" src="../img/producto/producto3.jpg")
