.login
  h2 Registrate
  p ¿Tienes ya una cuenta con nosotros?  Puedes ordenar directamente ingresado acá
  form.form
    .input__group
      label E-mail
      input(type="email", name="")
    .input__group
      label Contraseña
      input(type="password" name="")
  .data-form-buttons
    button.btn--green iniciar sesión
