nav.nav
  .nav__container#nav__container
    ul.secundary
      li.nav__item: a.nav__link(href="#") Contáctenos
      li.nav__item: a.nav__link(href="#"): strong Iniciar sesión
      li.nav__item: a.nav__link(href="#") Ventas corporativas
      li.nav__item
        a.nav__link(href="#"): i(class="fa fa-facebook-official" aria-hidden="true")
        a.nav__link(href="#"): i(class="fa fa-twitter-square" aria-hidden="true")
        a.nav__link(href="#"): i(class="fa fa-instagram" aria-hidden="true")
        a.nav__link(href="#"): i(class="fa fa-youtube" aria-hidden="true")

    ul.primary
      li.nav__item
        a.nav__link DISEÑA TU REGALO
        ul.subnav
          li.subnav__item: a.subnav__link(href="#") Inicio
          li.subnav__item: a.subnav__link(href="#") Acerca de
          li.subnav__item: a.subnav__link(href="#") Programa de licenciatarios
          li.subnav__item: a.subnav__link(href="#") Embajadores
          li.subnav__item: a.subnav__link(href="#") Camapñas
          li.subnav__item: a.subnav__link(href="#") Amigos del Perú
          li.subnav__item: a.subnav__link(href="#") Noticias
      li.nav__item
        a.nav__link GIFT / MARCA PERÚ
        ul.subnav
          li.subnav__item: a.subnav__link(href="#") Inicio
          li.subnav__item: a.subnav__link(href="#") Acerca de
          li.subnav__item: a.subnav__link(href="#") Programa de licenciatarios
          li.subnav__item: a.subnav__link(href="#") Embajadores
          li.subnav__item: a.subnav__link(href="#") Camapñas
          li.subnav__item: a.subnav__link(href="#") Amigos del Perú
          li.subnav__item: a.subnav__link(href="#") Noticias
      li.nav__item
        a.nav__link VIAJEROS
        ul.subnav
          li.subnav__item: a.subnav__link(href="#") Inicio
          li.subnav__item: a.subnav__link(href="#") Acerca de
          li.subnav__item: a.subnav__link(href="#") Programa de licenciatarios
          li.subnav__item: a.subnav__link(href="#") Embajadores
          li.subnav__item: a.subnav__link(href="#") Camapñas
          li.subnav__item: a.subnav__link(href="#") Amigos del Perú
          li.subnav__item: a.subnav__link(href="#") Noticias
      li.nav__item
        a.nav__link FASHION
        ul.subnav
          li.subnav__item: a.subnav__link(href="#") Inicio
          li.subnav__item: a.subnav__link(href="#") Acerca de
          li.subnav__item: a.subnav__link(href="#") Programa de licenciatarios
          li.subnav__item: a.subnav__link(href="#") Embajadores
          li.subnav__item: a.subnav__link(href="#") Camapñas
          li.subnav__item: a.subnav__link(href="#") Amigos del Perú
          li.subnav__item: a.subnav__link(href="#") Noticias
      li.nav__item
        a.nav__link negocios
        ul.subnav
          li.subnav__item: a.subnav__link(href="#") Inicio
          li.subnav__item: a.subnav__link(href="#") Acerca de
          li.subnav__item: a.subnav__link(href="#") Programa de licenciatarios
          li.subnav__item: a.subnav__link(href="#") Embajadores
          li.subnav__item: a.subnav__link(href="#") Camapñas
          li.subnav__item: a.subnav__link(href="#") Amigos del Perú
          li.subnav__item: a.subnav__link(href="#") Noticias
      li.nav__item
        a.nav__link SABOR A PERÚ
        ul.subnav
          li.subnav__item: a.subnav__link(href="#") Inicio
          li.subnav__item: a.subnav__link(href="#") Acerca de
          li.subnav__item: a.subnav__link(href="#") Programa de licenciatarios
          li.subnav__item: a.subnav__link(href="#") Embajadores
          li.subnav__item: a.subnav__link(href="#") Camapñas
          li.subnav__item: a.subnav__link(href="#") Amigos del Perú
          li.subnav__item: a.subnav__link(href="#") Noticias
      li.nav__item
        a.nav__link EXPERIENCIAS
        ul.subnav
          li.subnav__item: a.subnav__link(href="#") Inicio
          li.subnav__item: a.subnav__link(href="#") Acerca de
          li.subnav__item: a.subnav__link(href="#") Programa de licenciatarios
          li.subnav__item: a.subnav__link(href="#") Embajadores
          li.subnav__item: a.subnav__link(href="#") Camapñas
          li.subnav__item: a.subnav__link(href="#") Amigos del Perú
          li.subnav__item: a.subnav__link(href="#") Noticias
      li.nav__item
        a.nav__link TESOROS ESCONDIDOS
        ul.subnav
          li.subnav__item: a.subnav__link(href="#") Inicio
          li.subnav__item: a.subnav__link(href="#") Acerca de
          li.subnav__item: a.subnav__link(href="#") Programa de licenciatarios
          li.subnav__item: a.subnav__link(href="#") Embajadores
          li.subnav__item: a.subnav__link(href="#") Camapñas
          li.subnav__item: a.subnav__link(href="#") Amigos del Perú
          li.subnav__item: a.subnav__link(href="#") Noticias
      li.nav__item
        a.nav__link HOME & DECORACIÓN
        ul.subnav
          li.subnav__item: a.subnav__link(href="#") Inicio
          li.subnav__item: a.subnav__link(href="#") Acerca de
          li.subnav__item: a.subnav__link(href="#") Programa de licenciatarios
          li.subnav__item: a.subnav__link(href="#") Embajadores
          li.subnav__item: a.subnav__link(href="#") Camapñas
          li.subnav__item: a.subnav__link(href="#") Amigos del Perú
          li.subnav__item: a.subnav__link(href="#") Noticias
      li.nav__item
        div.nav__buttons
          i(class="fa fa-search" aria-hidden="true" id="search__button")
          a.shopping__cart(href="soy-el-mejor")
            i(class="fa fa-shopping-cart" aria-hidden="true" )
            span.shopping__cart__amount 2

    div.search#search
      .search__container
        input(type="text" placeholder="Busca talentos, lugares, gastronomía y más...")
  .nav__icon
    i(class="fa fa-bars" aria-hidden="true" id="nav__icon")
