.payment-methods
  form
    div.payment-method
      input(type="radio" name="vehicle" value="Bike")
      img(src="../img/metodo-de-pago-visa.jpg", alt="visa")
    div.payment-method
      input(type="radio" name="vehicle" value="Car")
      img(src="../img/metodo-de-pago-mastercard.png", alt="mastercard")
    div.payment-method
      input(type="radio" name="vehicle" value="Car")
      img(src="../img/metodo-de-pago-mastercard.png", alt="mastercard")
