div.pop__up__store(style="background-image: url(https://static.pexels.com/photos/247891/pexels-photo-247891.jpeg)")
  .pop__up__store__text
    h3 Pup Up Store
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo aut vel laborum ab voluptatibus eveniet asperiores, repellendus ex provident voluptates odio cumque reiciendis iusto adipisci expedita quos explicabo quam aspernatur.
