div.details__text
  h2.details__product__name Lorem ipsum dolor sit.
  span.details__product__code código: 463538
  span.details__product__price $3.000
  .details__product__description
    strong descripción
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, placeat porro incidunt reprehenderit facere praesentium itaque corporis, quaerat odit aliquam expedita qui? Rem, dolor. Dolorem inventore libero fuga neque non!
  .details__product__purchase
    input(type="number" value="1" min="1")
    a(href="#").btn--red Comprar

