.products
  .product
    img.product__image(src="https://www.peru.travel/Portals/_default/Gastronomia/productos-peruanos/3.jpg", alt="Lúcuma")
    .product__info
      a.product__name Lorem ipsum dolor sit.
      span.product__code código: 463538
      span.product__price $3.000
  .product
    img.product__image(src="https://www.peru.travel/Portals/_default/Gastronomia/productos-peruanos/3.jpg", alt="Lúcuma")
    .product__info
      a.product__name Lorem ipsum dolor sit amet.
      span.product__code código: 463538
      span.product__price $3.000
  .product
    img.product__image(src="https://www.peru.travel/Portals/_default/Gastronomia/productos-peruanos/3.jpg", alt="Lúcuma")
    .product__info
      a.product__name Lorem, ipsum dolor.
      span.product__code código: 463538
      span.product__price $3.000
  .product
    img.product__image(src="https://www.peru.travel/Portals/_default/Gastronomia/productos-peruanos/3.jpg", alt="Lúcuma")
    .product__info
      a.product__name Lorem ipsum dolor sit.
      span.product__code código: 463538
      span.product__price $3.000
