.products__list
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th></th>
      <th> Código </th>
      <th> Nombre </th>
      <th> Precio <select>
        <option>soles</option>
        <option>dolares</option>
      </select> </th>
      <th> Cantidad </th>
      <th> Total </th>
      <th></th>
    </tr>
    <tr>
      <td>
        <img src="https://www.peru.travel/Portals/_default/Gastronomia/productos-peruanos/3.jpg" alt="" />
      </td>
      <td>463538</td>
      <td>Lorem ipsum dolor sit amet.</td>
      <td>$3.000</td>
      <td><input type="number" value="1" min="1"/></td>
      <td>$3.000</td>
      <td>
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <img src="https://www.peru.travel/Portals/_default/Gastronomia/productos-peruanos/3.jpg" alt="" />
      </td>
      <td>463538</td>
      <td>Lorem ipsum dolor sit amet.</td>
      <td>$3.000</td>
      <td><input type="number" value="1" min="1"/></td>
      <td>$3.000</td>
      <td>
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <img src="https://www.peru.travel/Portals/_default/Gastronomia/productos-peruanos/3.jpg" alt="" />
      </td>
      <td>463538</td>
      <td>Lorem ipsum dolor sit amet.</td>
      <td>$3.000</td>
      <td><input type="number" value="1" min="1"/></td>
      <td>$3.000</td>
      <td>
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <img src="https://www.peru.travel/Portals/_default/Gastronomia/productos-peruanos/3.jpg" alt="" />
      </td>
      <td>463538</td>
      <td>Lorem ipsum dolor sit amet.</td>
      <td>$3.000</td>
      <td><input type="number" value="1" min="1"/></td>
      <td>$3.000</td>
      <td>
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>TOTAL</strong></td>
      <td>4</td>
      <td>$12.000</td>
      <td></td>
    </tr>
  </table>

  .products__list__navigation
    button.btn--red Atras
    button.btn--green Siguiente
