section.slider
  .slider__container
    .slider__item(style="background-image: url(https://www.peru.travel/Portals/_default/Images/Slider/Common/sli017657.jpg)")
      .slider__text
        h2.slider__title titulo para el slider 1
        p.slider__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam necessitatibus impedit esse, quae, similique
    .slider__item(style="background-image: url(https://www.peru.travel/Portals/_default/Images/Slider/Common/sli017657.jpg)")
      .slider__text
        h2.slider__title titulo para el slider 2
        p.slider__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam necessitatibus impedit esse, quae, similique
    .slider__item(style="background-image: url(https://www.peru.travel/Portals/_default/Images/Slider/Common/sli017657.jpg)")
      .slider__text
        h2.slider__title titulo para el slider 3
        p.slider__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam necessitatibus impedit esse, quae, similique
    .slider__item(style="background-image: url(https://www.peru.travel/Portals/_default/Images/Slider/Common/sli017657.jpg)")
      .slider__text
        h2.slider__title titulo para el slider 4
        p.slider__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam necessitatibus impedit esse, quae, similique
  .slider__rows
    span.slider__row.left(id="slider-row-left")
      i(class="fa fa-caret-left" aria-hidden="true")
    span.slider__row.right(id="slider-row-right")
      i(class="fa fa-caret-right" aria-hidden="true")