<div class="slider">
  <!-- slides -->
  <div class="slider__slides">
    <div class="slide s--active">
      <div class="slide__inner" style="background-image: url(https://static.pexels.com/photos/715414/pexels-photo-715414.jpeg)">
        <div class="slide__content">
          <h2 class="slide__heading">Clip-Path Revealing Slider</h2>
          <p class="slide__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin felis velit, maximus a fermentum in, fringilla eget justo. Morbi eget tincidunt sapien, a sollicitudin velit. !</p>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__inner" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-3.jpg)">
        <div class="slide__content">
          <h2 class="slide__heading">Simple Animation</h2>
          <p class="slide__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin felis velit, maximus a fermentum in, fringilla eget justo. Morbi eget tincidunt sapien, a sollicitudin velit. !</p>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__inner" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg)">
        <div class="slide__content">
          <h2 class="slide__heading">Very Stylish Effect!</h2>
          <p class="slide__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin felis velit, maximus a fermentum in, fringilla eget justo. Morbi eget tincidunt sapien, a sollicitudin velit. ?</p>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__inner" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg)">
        <div class="slide__content">
          <h2 class="slide__heading">Limited browser support</h2>
          <p class="slide__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin felis velit, maximus a fermentum in, fringilla eget justo. Morbi eget tincidunt sapien, a sollicitudin velit. </p>
        </div>
      </div>
    </div>
    <div class="slide s--prev">
      <div class="slide__inner" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg)">
        <div class="slide__content">
          <h2 class="slide__heading">Check my other stuff!</h2>
          <p class="slide__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin felis velit, maximus a fermentum in, fringilla eget justo. Morbi eget tincidunt sapien, a sollicitudin velit. <a href="https://twitter.com/NikolayTalanov" target="_blank">Twitter</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- slides end -->
  <div class="slider__control">
    <div class="slider__control-line"></div>
    <div class="slider__control-line"></div>
  </div>
  <div class="slider__control slider__control--right m--right">
    <div class="slider__control-line"></div>
    <div class="slider__control-line"></div>
  </div>
</div>
