.socail-network
  a(href="#")
    i(class="fa fa-twitter" aria-hidden="true")
  a(href="#")
    i(class="fa fa-facebook" aria-hidden="true")
  a(href="#")
    i(class="fa fa-youtube-play" aria-hidden="true")
  a(href="#")
    i(class="fa fa-instagram" aria-hidden="true")
  a(href="#")
    i(class="fa fa-pinterest-p" aria-hidden="true")
