.footer {
  width: 100%;
  background-color: $color-gray-light;
  color: $color-gray;
  padding: 0 5% 4rem 2rem;
  text-align: center;
  font-family: $font-light;
  position: relative;
}

.footer__author {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: .5rem 1rem;

  img {
    margin: 0 1rem;
  }
}

.footer__section {
  margin-bottom: 4rem;
  text-align: center;
  a {
    text-decoration: none;
    color: inherit;
    line-height: 2;
    display: block;

    &:hover {
      text-decoration: underline;
      color: $color-gray-dark;
    }
  }

  img {
    width: 100%;
    max-width: 200px;
  }
}

.footer__author {
  background-color: #fff;
}

.title {
  text-transform: uppercase;
  font-family: $font-normal;
  display: block;
  margin-bottom: 1rem;
  color: $color-gray-dark;
}

.footer__button__container {
  margin-bottom: 1rem;
}

.footer__marcas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  img {
    width: 50%;
    max-width: 90px;
    margin: 1rem .5rem;
  }
}

.footer__red {
  background-color: $color-red;
  padding: .7rem;
  margin-bottom: 1rem;
  color: #fff !important;
  text-transform: uppercase;
  box-shadow: 0 7px 15px rgba(0,0,0,.2);

  &:hover {
    text-decoration: none !important;
    background-color: darken($color-red, 5%);
    cursor: pointer;
  }
}

.footer__brown {
  background-color: $color-brown;
  color: #fff !important;
  padding: .7rem;
  text-transform: uppercase;
  box-shadow: 0 7px 15px rgba(0,0,0,.2);

  &:hover {
    background-color: darken($color-brown, 5%);
    text-decoration: none !important;
    cursor: pointer;
  }
}

@media screen and (min-width: 700px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    text-align: left
  }

  .footer__section {
    margin: 2rem;
    width: 40%;
    .title {
      text-align: center;
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .footer {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
