.gallery {
  width: 100%;
  max-width: 700px;
  min-height: 300px;
  max-height: 420px;
  overflow: hidden;
  padding: .5rem;
  img {
    width: 100%;
    max-width: 80px;
    padding: .5rem;
  }
}

.gallery__primary {
  width: 100%;

  >div {
    width: 100%;
    max-width: 100%;
    min-height: 300px;
    max-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.gallery__list {
  display: flex;
  overflow-x: scroll;
  img {
    cursor: zoom-in;
  }
}

@media screen and (min-width: 600px) {
  .gallery {
    display: flex;
    min-height: 400px;
  }

  .gallery__primary {
    order: 2;

    >div {
      min-height: 400px;
    }
  }

  .gallery__list {
    order: 1;
    max-width: 110px;
    flex-direction: column;
    max-height: 358px;
    overflow-y: scroll;
  }
}
