.language {
  width: 100%;
  padding: 7px 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  font-size: 14px;
  p {
    margin: 0;
  }
}

.language__item {
  margin: 0 5px;
  padding: 0 5px;
  display: inline-block;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $color-red;
  }
  &.active {
    color: $color-red;
  }
}
