.products__list {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  overflow-x: scroll;
  padding: 1rem;

  table {
    width: 100%;
    tr {
      width: 100%;
      &:first-of-type {
        background-color: rgba($color-blue, .1);
        color: darken($color-blue, 20%);
        font-family: $font-light;
      }
      &:nth-of-type(even) {
        background-color: $color-gray-light;
      }
      &:last-of-type {
        background-color: rgba($color-green, .2);
          color: darken($color-green, 10%);
  font-size: 20px;
      }
    }
    th, td {
      width: 14%;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      padding: 1rem .5rem;
      img {
        width: 100%;
        max-width: 70px;
        min-width: 70px;
      }

      input, select {
        border: 1px solid $color-gray;
        padding: 8px;
        border-radius: 5px;
        outline: none;
        margin-right: 2rem;
        max-width: 70px;
      }

      select {
        background-color: #fff;
        max-width: 100px;
        padding: 0 3px;
        margin: 0 auto;
      }

      .fa-minus-circle {
        color: $color-red;
        cursor: pointer;
      }
    }
  }
}

.products__list__navigation {
  padding: 2rem 0;
  text-align: right;
  border-bottom: 1px solid $color-gray-light;

  button, a {
    margin-left: 1rem;
    text-transform: uppercase;
    padding: 15px 2rem !important;
  }
}

@media screen and (min-width: 600px) {
  .products__list {
    overflow-x: hidden;
  }
}
